=begin
#ONCHAIN.IO API overview

#No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: v2

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.3.1

=end

require "uri"

module SwaggerClient
  class TransactionAPIApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Send Transaction
    # Send a transaction onto the network.
    # @param coin The name of the coin i.e. bitcoin
    # @param rawtx The raw signed transaction as a hex string
    # @param [Hash] opts the optional parameters
    # @return [InlineResponseDefault]
    def send_tx(coin, rawtx, opts = {})
      data, _status_code, _headers = send_tx_with_http_info(coin, rawtx, opts)
      return data
    end

    # Send Transaction
    # Send a transaction onto the network.
    # @param coin The name of the coin i.e. bitcoin
    # @param rawtx The raw signed transaction as a hex string
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponseDefault, Fixnum, Hash)>] InlineResponseDefault data, response status code and response headers
    def send_tx_with_http_info(coin, rawtx, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: TransactionAPIApi.send_tx ..."
      end
      # verify the required parameter 'coin' is set
      if @api_client.config.client_side_validation && coin.nil?
        fail ArgumentError, "Missing the required parameter 'coin' when calling TransactionAPIApi.send_tx"
      end
      # verify the required parameter 'rawtx' is set
      if @api_client.config.client_side_validation && rawtx.nil?
        fail ArgumentError, "Missing the required parameter 'rawtx' when calling TransactionAPIApi.send_tx"
      end
      # resource path
      local_var_path = "/transaction/send/{coin}/{rawtx}".sub('{' + 'coin' + '}', coin.to_s).sub('{' + 'rawtx' + '}', rawtx.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponseDefault')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TransactionAPIApi#send_tx\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
